<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/socket.io/socket.io.js"></script>
  <script src="../../../chat/cliente.js"></script>
    <title>Document</title>
</head>
<body>
  <header>
    
  </header>
    <main>
      <!-- ----------------- formulario de ingreso de productos ------------------ -->
      <div>
        <form action="../../../controllers/Productos.js" method="post">
          <div class="mb-3">
            <label for="modelo" class="form-label">modelo</label>
            <input type="text" class="form-control" id="modelo">
            <div id="modelo" class="form-text"></div>
          </div>
          <div class="mb-3">
            <label for="marca" class="form-label">marca</label>
            <input type="text" class="form-control" id="marca">
          </div>
          <div class="mb-3">
              <label for="precio" class="form-label">precio</label>
              <input type="number" class="form-control" id="precio">
            </div>

          <button type="submit" class="btn btn-primary">Agregar</button>
        </form>
      </div>
      <!-- ------------------------- lista de productos -------------------------- -->
    <div>  
      <% if(all){
        for (const producto of all) {
        %>
        <div >
          <div >
            <h3>
              <%=producto.modelo%>
            </h3>
          </div>
          <div >
            <p>
              <%=producto.marca%>
            </p>
          </div>
          <div >
            <p>
              <%=producto.precio%>
            </p>
          </div>
        </div>
      <%}%>
    </div>
    <% } else { %>
      <div class='message'>
        <h2>No hay productos</h2>
      </div>
      <% } %>
      <!-- -------------------------------- chat --------------------------------- -->
      <div class="chat">
        <h1>chat</h1>
        <div id="messages"></div>
        <form onsubmit="return addMessage(this)">
            <input type="text" id="username" placeholder="Tu Nombre" >
            <input type="text" id="texto" placeholder="Cuéntanos algo...">
            <input type="submit" value="Enviar">
        </form>
      </div>
        
    </main>
    <footer>

    </footer>
</body>
</html>